{:paths ["src" "resources"]
 :deps {org.clojure/clojure       {:mvn/version "1.12.4"}
        org.clojure/core.async    {:mvn/version "1.8.741"}
        com.taoensso/truss        {:mvn/version "2.2.0"}
        com.taoensso/telemere     {:mvn/version "1.2.1"}
        ;;com.taoensso/tempel       {:mvn/version "1.1.0"}
        org.babashka/cli          {:mvn/version "0.8.66"}
        babashka/fs               {:mvn/version "0.5.27"}
        com.sturdystats/sturdy-fs {:mvn/version "0.1.6"}
        jarohen/chime             {:mvn/version "0.3.3"}
        com.sturdystats/bailey    {:mvn/version "0.0.4"}

        com.sturdystats/roughtime-protocol {:mvn/version "0.1.1"}}

 :aliases {:run
           {:main-opts ["-m" "roughtime-server.core"]}

           :local-deps
           {:extra-deps {com.sturdystats/sturdy-fs {:local/root "../sturdy-fs"}
                         com.sturdystats/bailey    {:local/root "../bailey"}
                         com.sturdystats/roughtime-protocol
                         {:local/root "../roughtime-protocol"}}}

           :test
           {:extra-paths ["test" "test-resources"]
            :extra-deps  {io.github.cognitect-labs/test-runner
                          {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
            :main-opts ["-m" "cognitect.test-runner"]
            :exec-fn     cognitect.test-runner.api/test}

           :make-backup-key
           {:exec-fn roughtime-server.keys/make-backup-key
            :exec-args {:secrets-dir "secrets"
                        :force? flase
                        :resources-dir "resources"}}

           :build
           {:deps {io.github.clojure/tools.build {:mvn/version "0.10.10"}
                   slipset/deps-deploy           {:mvn/version "0.2.2"}}
            :ns-default build}

           :deploy
           {:deps {io.github.clojure/tools.build {:mvn/version "0.10.10"}
                   slipset/deps-deploy           {:mvn/version "0.2.2"}}
            :ns-default build}}}
