# /etc/systemd/system/roughtime.service
[Unit]
Description=Roughtime UDP Server (Clojure)
After=network-online.target
Wants=network-online.target

[Service]
# Run as a dedicated, unprivileged user
User=roughtime
Group=roughtime
WorkingDirectory=/opt/roughtime

# Ensure PATH includes java
Environment=PATH=/usr/bin

# secrets
LoadCredentialEncrypted=password.bytes:/etc/roughtime/password.bytes.cred

# Env vars
Environment=LOG_PATH=/opt/roughtime/logs/roughtime.log
Environment=ARTIFACTS_DIR=artifacts

# app entrypoint
Type=exec

ExecCondition=/usr/bin/test -r /opt/roughtime/current-standalone.jar
ExecStart=/usr/bin/java \
  -Djava.net.preferIPv4Stack=true \
  -jar /opt/roughtime/current-standalone.jar \
  :tpm-secrets-dir "${CREDENTIALS_DIRECTORY}" \
  :artifacts-dir "${ARTIFACTS_DIR}" \
  :log-path ${LOG_PATH} \
  :host "127.0.0.1" \
  :port 12002

# Graceful shutdown:
# send SIGTERM to main proc, then SIGKILL to all procs after TimeoutStopSec
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=20
SendSIGKILL=yes
FinalKillSignal=SIGKILL
SuccessExitStatus=143

# Restart policy
Restart=on-failure
RestartSec=2

# Log to journald; tag with SyslogIdentifier
StandardOutput=journal
StandardError=journal
SyslogIdentifier=roughtime

# ---- Security hardening ----
# security
NoNewPrivileges=yes

# process
LimitCORE=0
LimitNOFILE=65536
UMask=0077
KeyringMode=private

# paths
ProtectProc=invisible
ProcSubset=pid


# sandboxing
# - make entire filesystem read only
ProtectSystem=strict
PrivateTmp=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
# - home directories appear empty 
ProtectHome=yes
# - whitelist for writing
ReadWritePaths=/opt/roughtime/logs /opt/roughtime/artifacts
# -
PrivateUsers=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
# Network Hardening (Strict IPv4 Loopback)
# We force IPv4 in ExecStart, so we can deny IPv6 here
RestrictAddressFamilies=AF_INET
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=no
RestrictRealtime=yes
RestrictSUIDSGID=yes
PrivateMounts=yes
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources @reboot @setuid
SystemCallErrorNumber=EPERM
SystemCallArchitectures=native

# restrict network access to loopback
IPAddressAllow=127.0.0.1
IPAddressDeny=any
SocketBindAllow=ipv4:udp:12002
SocketBindDeny=any

# extra hardening
RemoveIPC=yes
CapabilityBoundingSet=
AmbientCapabilities=

[Install]
WantedBy=multi-user.target

# Local Variables:
# mode: conf-unix
# End:
